<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
    <mat-toolbar color="warn" class="example-toolbar">
      <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
      <h1 class="example-app-name">MovilizApp</h1>
    </mat-toolbar>
    <mat-sidenav-container class="example-sidenav-container">
      <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                   [fixedInViewport]="mobileQuery.matches">
        <mat-nav-list>
          <app-vol-profile></app-vol-profile>
          <button class = 'boton' id="cerrar" mat-button (click)="onLogout()">Cerrar Sesión</button>
        </mat-nav-list>
      </mat-sidenav>
      <mat-sidenav-content>
          <app-map #map
          class="map"
          appId="vvZ3bT5wEdEGwTxWyyVA" 
          appCode="DrBz6nmjEAehxuHf3j9p6Q"  
          lat="-33.4372" 
          lng="-70.6506" 
          width="98vw" 
          height="80vh">
          </app-map>
          <div class="btn-search">
              <input type="text" placeholder="Buscar lugares..." [(ngModel)]="query" />
              <button (click)="map.places(query)">Buscar</button>
            </div>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>