<p>
  Hola soy el componente Home
</p>
<section class="contenedor"> 
  <!-- <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSAQjtJEWztAaWXcIZzkbg9EUsvH5PyQAFy7sPLt-9-J03axtU-NQ" alt=""> -->
  <h6>
    MOVILIZ-APP
  </h6>
  <div class="formulario">
    <ul>
      <button type="button" class="btn btn-warning btn-lg btn-block">Loguin</button>
    </ul>
      <div class="input-group mb-3">
        <select class="custom-select" id="inputGroupSelect02">
          <option selected>opciones de ayuda...</option>
          <option value="1">necesito ayuda</option>
          <option value="2">soy Empresa</option>
          <option value="3">Soy voluntario</option>
        </select>
    </div>
  </div>
</section>

