<section > 
  <div class="container">
    <div class="row">
      <div class=".col-sm-1">
        <div class="contenedor">
          <img src="../../../assets/imagenes/logohereshadow1.png" alt="">
            <div class="formulario">
              <ul>
                <button type="button" routerLink='/login' class="btn-warning btn-lg btn-block">Login</button>
              </ul>
              <ul>
                <button type="button" routerLink='/registro' class="btn-warning btn-lg btn-block">Regístrate</button>
              </ul>
            </div>
          </div>
        </div>
      </div>    
  </div>
</section>
