.contenedor {
 background-color: #E5E5E5;
 width: 25em;
 height: 30em;
 margin: 5%;
 padding: 2.5em;
 text-align: center;
}

.formulario {
    padding: 3em;
}

/* img {
    height: 10em;
    width: 20em;
    padding: 2em;
} */