<p>
  Hola soy el componente Home
</p>
<section class="contenedor"> 
  <!-- <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSAQjtJEWztAaWXcIZzkbg9EUsvH5PyQAFy7sPLt-9-J03axtU-NQ" alt=""> -->
  <h6>
    MOVILIZ-APP
  </h6>
  <div class="formulario">
    <ul>
      <button type="button" class="btn btn-.bg-light btn-lg btn-block">Necesito ayuda</button>
    </ul>
    <ul>
      <button type="button" class="btn btn-.bg-light btn-lg btn-block">Soy empresa</button>
    </ul>
    <ul>
      <button type="button" class="btn btn-.bg-light btn-lg btn-block">Soy voluntario</button>
    </ul>
    <ul>
      <button type="button" class="btn btn-.bg-light btn-lg btn-block">Login</button>
    </ul>
  </div>
</section>
