

.contenedor {
	/* background-color: rgba(251, 251, 0, 0.637); */
	padding: 4em;
}

img {

	height: 90px;
	width: 300px;
	margin-left: 2em;
	margin-top: 5em;
    
}

.formulario {
	/* background-color: blueviolet; */
	margin-right: 3em;
	margin-top: 8em;
}

button {
	background-color: #EF6c00;
	color: aliceblue;
}


