<div class='container'>
  <form [formGroup]='orgForm' (ngSubmit)='submit()'>
    <h4><img src="../../../assets/imagenes/isotipomovilizappsinsombra.png" alt="">
      ¡Muchas Gracias por querer colaborar!</h4>
    <h5>En este formulario podrás inscribirte como organización colaboradora en caso de una catástrofe en nuestro país. Por favor completa los siguientes campos:</h5>
    <br>
    <h6>Datos de la cuenta</h6>
    <mat-form-field>
      <input matInput #email type='email' formControlName='email' placeholder='Correo de la organización'>
    </mat-form-field>
    <mat-form-field>
      <input matInput #pass type='password' formControlName='password' placeholder='Contraseña'>
    </mat-form-field>
    <h6>Datos de contacto</h6>
    <mat-form-field>
      <input matInput #contactname type='text' formControlName='contactname' placeholder='Nombre de la persona de contacto'>
    </mat-form-field>
    <mat-form-field>
      <input matInput #contactrut type='text' formControlName='contactrut' placeholder='RUT de la persona de contacto'>
    </mat-form-field>
  <h6>Datos de la organización</h6>
    <mat-form-field>
      <input matInput #orgname type='text' formControlName='orgname' placeholder='Nombre de la organización'>
    </mat-form-field>
    <mat-form-field>
      <input matInput #orgrut type='text' formControlName='orgrut' placeholder='RUT de la organización'>
    </mat-form-field>
    <mat-form-field>
      <input matInput #orgphone type='text' formControlName='orgphone' placeholder='Teléfono de la organización'>
    </mat-form-field>
    <h4>Centro de Ayuda</h4>
    <br>
    <p>Por favor ingresa la dirección del Centro de Ayuda</p>
    <mat-form-field>
      <input matInput #orgdir type='text' formControlName='orgdir' placeholder='Dirección de la organización'>
    </mat-form-field>
    <p>Selecciona el tipo de centro de ayuda que corresponde a tu organización:</p>
    <mat-checkbox class="margin" #checkRefugio formControlName="checkRefugio">Refugio</mat-checkbox><br>
    <mat-checkbox class="margin" #checkCentro formControlName="checkCentro">Centro de Acopio</mat-checkbox><br>
    <mat-checkbox class="margin" #checkTransporte formControlName="checkTransporte">Transporte de Ayuda</mat-checkbox><br>
    <mat-checkbox class="margin" #checkEntrega formControlName="checkEntrega">Entrega de Alimentos</mat-checkbox><br>
    <mat-checkbox class="margin" #checkPrimeros formControlName="checkPrimeros">Primeros Auxilios</mat-checkbox><br>
    <br>
    <p>Indicanos hasta cuando estará disponible el Centro de ayuda de tu organización</p>
    <mat-form-field>
      <input matInput formControlName="close" #close placeholder='Elige una fecha de cierre de Centro de Ayuda'>
    </mat-form-field>
    <mat-form-field>
      <input matInput #nvol type='text' formControlName='nvol' placeholder='¿Cuantos voluntarios necesita?'>
    </mat-form-field> 
    <p>Otra información relevante:</p>
    <mat-form-field>
      <textarea matInput #orgother type='textarea' formControlName='orgother' placeholder='Otra información'></textarea>
    </mat-form-field>          
    <p>Para completar el registro acepta los siguientes convenios (obligatorio):</p>
    <mat-checkbox #check1 formControlName="check1">Política de Responsabilidad de Centro de ayuda.</mat-checkbox>
    <br>
    <mat-checkbox #check2 formControlName="check2">Políticas de privacidad de datos.</mat-checkbox>
    <br>
    <mat-checkbox #check3 formControlName="check3">Convenio de Políticas de nuestra web.</mat-checkbox>
    <br>
    <button mat-button type='submit' [disabled]='!orgForm.valid'>¡Enviar registro!</button>
  </form>
  <div>
    <a href="" routerLink='/registro'> < atrás </a>
  </div>
</div>

