.contenedor {
	width: 100vw;
	text-align: center;
}

.registro {
	/* background-color: blueviolet; */
	margin-left: auto;
	margin-right: auto;
	margin-top: 8em;
}

img {
	height: 90px;
    width: 300px;
    margin-top: 7em;
	margin-left: auto;
	margin-right: auto;
}

button {
	background-color: #EF6c00;
	color: aliceblue;
	width: 300px;
	margin: 0px auto;
}

a {

	color: #EF6c00;
	font-size: 2em;
}