
<section class="fondoPantalla"> 
  <div class="contenedor">
    <h6>
      MOVILIZ-APP
    </h6>
    <div class="registro">
      <ul>
        <button type="button" class="btn btn-warning btn-lg btn-block"> Necesito ayuda</button>
      </ul>
      <ul>
        <button type="button" class="btn btn-warning btn-lg btn-block"> Soy empresa   </button>
      </ul>
      <ul>
        <button type="button" class="btn btn-warning btn-lg btn-block"> Soy voluntario</button>
      </ul>
    </div>
  </div>
</section>
  