<section> 
  <div class="container">
    <div class="row">
      <div class=".col-sm-1">
        <div class="contenedor">
          <img src="../../../assets/imagenes/logohereshadow1.png" alt="">
          <div class="registro">
            <ul>
              <button type="button" routerLink='/solicitante' class="btn btn-lg btn-block"> Necesito ayuda</button>
            </ul>
            <ul>
              <button type="button" routerLink='/org-form' class="btn btn-lg btn-block"> Soy empresa </button>
            </ul>
            <ul>
              <button type="button" routerLink='/voluntario-form' class="btn btn-lg btn-block"> Quiero ser voluntario</button>
            </ul>
            <ul>
                <a href="" routerLink='/home'> <<--- Atrás </a>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
  