<section class="contenedor"> 
  <h6>
  MOVILIZ-APP
  </h6>
  <div class="registro">
    <ul>
      <button type="button" routerLink='/solicitante' class="btn btn-success btn-lg btn-block"> Necesito ayuda</button>
    </ul>
    <ul>
      <button type="button" routerLink='/org-form' class="btn btn-success btn-lg btn-block"> Soy empresa o una organización y quiero ayudar </button>
    </ul>
    <ul>
      <button type="button" routerLink='/voluntario-form' class="btn btn-success btn-lg btn-block"> Quiero ser voluntario</button>
    </ul>
  </div>
</section>
  