
img {

	height: 90px;
    width: 300px;
    margin-top: 7em;
    margin-left: 5em;
    
}

.registro {
	/* background-color: blueviolet; */
	margin-left: 2em;
	margin-top: 8em;
}

button {
	background-color: #EF6c00;
	color: aliceblue;
}
