.contenedor {
    background-color:  #E5E5E5;
    height: 30em;
    width: 25em;
    padding: 3em;
    margin: 3%;
}

.titulo {
    text-align: center;
    padding: 1em;
}

.formulario {
    padding: 2.5em;
    text-align: center;
}

.botones {
    padding: 0.5em;
    text-align: center;
}

.input {
    padding: 0.5em;
}