<section>
  <div class="container">
    <div class="row">
      <div class=".col-sm-12">
        <div class="contenedor">
            <img src="../../../assets/imagenes/isotipomovilizappsinsombra.png" alt="">
            <div *ngIf="authService.user | async">
              <p> Bienvenido : {{((authService.user | async) || {}).email}}</p>
              <button type="button" (click)="onLogout()">Logout</button>
            </div>
            <form [formGroup]="authForm" *ngIf="!(authService.user | async)" class = "formulario">
              <div class="input">
                <input type="email" formControlName="email">
              </div>
              <div class="input">
                  <input type="password" formControlName="password">
              </div>
              <div class="botones">
                  <button type="button" (click)="onLogin()" [disabled]="!authForm.valid" class="btn btn-warning">Log - in</button>
              </div>
            </form>
        </div>
      </div>
    </div>   
  </div> 
</section>

