
img {

	width: 12em;
	height: 15em;
	margin: 7em;
	margin-left: 12em;

}

.formulario {
  /* background-color: blueviolet; */
  margin-left: 5em;
  text-align: center;
  padding: 1em;


}


button {
	background-color: #EF6c00;
	color: aliceblue;
}


.botones {
	padding: 1em;
}


input {

	width: 25em;
	height: 5em;
}

.input {

	padding: 1em;
}