img {
	width: 8em;
}

.formulario {
  /* background-color: blueviolet; */
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 1em;
}

button {
	background-color: #EF6c00;
	color: aliceblue;
	margin: 5px auto;
}

.input {
	padding: 1em;
	margin: .1em;
	width: 30em;
	height: 8em;
}

a {
	color: #EF6c00;
	font-size: 2em;
}