/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

.H_ib_body {
    width: 150px;
    height: 200px;
    background-color: rgb(209, 189, 189);
    color: white;
    font-family: fantasy;
    border-radius: 7%;
    padding: 1em;
}

.H_ib_body p{
    font-size: 15px;
}

.H_ib_body a{
    font-size: 14px;
    color: rgb(0, 4, 255);
}

body{
    font-family: fantasy;
    font-size: 10px;
}

md-icon {
    font-family: 'Material Icons' !important;
    color: rgb(49, 49, 49)
}