/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

.H_ib_body {
    width: 150px;
    background-color: rgb(209, 189, 189);
    color: black;
    font-family: Roboto;
    border-radius: 7%;
    padding: 1em;
    line-height: 12px;
}

.H_ib_body p{
    font-size: 15px;
}

.H_ib_body a{
    font-size: 14px;
    color: #ef6c00;
}

body{
    font-family: Roboto;
    font-size: 10px;
}

.btn-search {
    padding: 10px;
    margin: 10px auto;
}

md-icon {
    font-family: 'Material Icons' !important;
    color: rgb(49, 49, 49)
}
