<div class="formvol">
  <mat-form-field>
    <input matInput placeholder="Nombre">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Apellidos">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Rut">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Edad">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Telefono de contacto">
  </mat-form-field>
  <mat-form-field>
    <input type="email" matInput placeholder="mail">
  </mat-form-field>
  <mat-form-field>
    <textarea matInput placeholder="Detalle"></textarea>
  </mat-form-field>
  <mat-form-field>
    <input matInput type="password" placeholder="Contraseña">
  </mat-form-field>
  <button mat-button>Registro</button>
</div>
