<div class="container">
  <form [formGroup]='volForm' (ngSubmit)='submit()'>
    <img class="globo-small" src="../../../assets/imagenes/isotipomovilizappsinsombra.png" alt="">
    <h6>¡Muchas Gracias por querer colaborar!</h6>
    <p>En este formulario podrás inscribirte como voluntario en caso de una emergencia en nuestro país. Por favor completa los siguientes campos:</p>
    <h4>Datos Personales</h4>
    <mat-form-field>
      <input matInput #name formControlName='name'  placeholder="Nombre">
    </mat-form-field>
    <mat-form-field>
      <input matInput #lastname formControlName='lastname'  placeholder="Apellidos">
    </mat-form-field>
    <mat-form-field>
      <input matInput #rut placeholder="Rut" formControlName='rut' type="text">
    </mat-form-field>
    <mat-form-field>
      <input matInput #age placeholder="Edad" formControlName='age' >
    </mat-form-field>
    <mat-form-field>
      <input matInput #tel placeholder="Telefono de contacto" formControlName='tel' >
    </mat-form-field>
    <mat-form-field>
      <input matInput #email type="email" formControlName='email' placeholder="mail">
    </mat-form-field>
    <mat-form-field>
      <input matInput #password type='password' formControlName='password' placeholder='Contraseña'>
    </mat-form-field>
    <h4>Información del tipo de voluntariado</h4>
    <mat-form-field>
      <mat-select #sel formControlName="sel" placeholder="Selecciona un tipo de ayuda">
        <mat-option *ngFor="let ayuda of ayudas" [value]="ayuda.value">
          {{ayuda.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <textarea matInput placeholder="Detalla el tipo de ayuda que vas a prestar" #datail formControlName='detail'></textarea>
    </mat-form-field>
    <p>Para completar el registro acepta los siguientes convenios (obligatorio):</p>
    <div class="checkbox">
      <mat-checkbox #check1 formControlName="check1">Política de Responsabilidad de Voluntarios.</mat-checkbox><br>
      <mat-checkbox #check2 formControlName="check2">Políticas de privacidad de datos.</mat-checkbox><br>
      <mat-checkbox #check3 formControlName="check3">Convenio de Políticas de nuestra web.</mat-checkbox><br>
    </div>
    <button class="btn" type='submit' [disabled]='!volForm.valid'>¡Enviar registro!</button><br>
    <button class="btn" routerLink='/login'>Ir a Login</button>
  </form>
  <p class="minimal"><a routerLink="/registro">volver atrás</a></p>
</div>
