<div class="mat-form-field">
  <form [formGroup]='volForm' (ngSubmit)='submit()'>
    <h4><img src="../../../assets/imagenes/isotipomoviliza-appsinsombra.png" alt="">
    ¡Muchas Gracias por querer colaborar!</h4>
    <p>En este formulario podrás inscribirte como voluntario en caso de una catástrofe 
      en nuestro país. Por favor completa los siguientes campos:</p>
    <br>
    <h6>Datos Personales</h6>
  <mat-form-field>
    <input matInput #name formControlName='name'  placeholder="Nombre">
  </mat-form-field>
  <mat-form-field>
    <input matInput #lastname formControlName='lastname'  placeholder="Apellidos">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Rut" #rut formControlName='rut' type="text">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Edad" #age formControlName='age' >
  </mat-form-field>
  <h6>Datos Ayuda</h6>
  <mat-form-field>
    <input matInput placeholder="Telefono de contacto" #tel formControlName='tel' >
  </mat-form-field>
  <mat-form-field>
    <input matInput type="email" #email formControlName='email' placeholder="mail">
  </mat-form-field>
  <mat-form-field>
      <mat-select #sel formControlName="sel" placeholder="Selecciona un tipo de ayuda">
        <mat-option *ngFor="let ayuda of ayudas" [value]="ayuda.value">
          {{ayuda.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  <mat-form-field>
    <textarea matInput placeholder="Detalla el tipo de ayuda que vas a prestar" #datail formControlName='detail'></textarea>
  </mat-form-field>
  <mat-form-field>
      <input matInput #password type='password' formControlName='password' placeholder='Contraseña'>
    </mat-form-field>
    <p>Para completar el registro acepta los siguientes convenios (obligatorio):</p>
    <mat-checkbox #check1 formControlName="check1">Política de Responsabilidad de Voluntarios.</mat-checkbox>
    <br>
    <mat-checkbox #check2 formControlName="check2">Políticas de privacidad de datos.</mat-checkbox>
    <br>
    <mat-checkbox #check3 formControlName="check3">Convenio de Políticas de nuestra web.</mat-checkbox>
    <br>
    <div class="botones">
      <button mat-button type='submit' [disabled]='!volForm.valid'>¡Enviar registro!</button>
    </div>
    <div class="botones">
        <button mat-button routerLink='/login'>Ir a Login</button>
      </div>
  </form>
  <a href="" routerLink='/registro'> < atrás </a>
 
</div>
